*{
    text-align: center;
}

.submit-button{
    font-size: large;
}

.submit-button:hover {
    transform: scale(1.05);
}

form{
    margin: auto;
}

h1{
    margin-top: 60px;
}

h2{
    font-size: xx-large;
}

input{
    font-size: large;
}