h2 {
    text-align: center;
    margin-bottom: 60px;
}

h3 {
    color: green;
    font-size: xx-large;
    line-height: 34px;
}

p {
    font-size: x-large;
    line-height: 27px;
}

.home-images {
    display: flex;
    max-width: 90vw;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.img {
    background-repeat: no-repeat;
    height: 400px;
    width: 80vw;
    object-fit: cover;
    flex: 1;
    background-size: cover;
}

.menu {
    background-image: url('../images/toast6.jpg');
}

.create {
    background-image: url('../images/relax.jpg');
}

#menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
}

#create {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
}

.welcome-text {
    text-align: center;
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center 
  }