/* .img.relax {
    background-image: url(./images/relax.jpg)
} */

:root{
    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    /* color: #ffff; */
    text-align: center;
}

h3{
    color: blue;
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 20px;
    line-height: 34px;
    padding: 30px 0 0;
    margin-bottom: 0%;
}

p{
    font-size: 16px;
    line-height: 27px;
}

.home-images{
    display: flex;
    max-width: 90vw;
    margin: auto;
    /* width: 100%; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.img:hover {
    transform: scale(1.1)
}

.img{
    background-repeat: no-repeat;
  height: 400px;
  width: 80vw;
  object-fit: cover;
  flex: 1;
  background-size: cover;
}



.menu{
    background-image: url('../images/toast.jpg');

}

.create{
    background-image: url('../images/relax.jpg');
}

a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size:50px;
}

/* .background{
    background: url('../../images/interior1.jpg');
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    position: relative;
} */

.logo{
    background-color: aqua;
    height:100px;
    width: 400px;
}

#logo{
    object-fit: contain;
    justify-content: center;
}